%section.recipe
  = form_for @recipe, method: @recipe.persisted? ? "put" : "post", role: "form", multipart: true do |f|
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-5.col-lg-offset-1
        %fieldset
          %legend
            About This Recipe

          .form-group
            = f.label :title, class: "control-label"
            = f.text_field :title, class: "form-control"

          .form-group
            = f.label :description, class: "control-label"
            = f.text_area :description, class: "form-control", rows: 3
            %p.help-block
              No <code>HTML</code> allowed. Markdown okay.

          .form-group
            = f.label :instructions, class: "control-label"
            = f.text_area :instructions, class: "form-control", rows: 5
            %p.help-block
              No <code>HTML</code> allowed. Markdown okay.

          .form-group
            = f.fields_for :uploads do |upload|
              = render 'upload_fields', f: upload

      .col-xs-12.col-sm-6.col-md-6.col-lg-5
        %fieldset
          %legend
            Ingredients

          .form-group.ingredients
            = f.fields_for :quantities do |quantity|
              = render 'quantity_fields', f: quantity

          .form-group
            = link_to_add_association "#{content_tag(:span, "", class: "glyphicon glyphicon-plus")} Add Ingredient".html_safe, f, :quantities, wrap_object: Proc.new {|q| q.build_ingredient; q }, class: "btn btn-xs btn-success", data: { association_insertion_node: ".ingredients", association_insertion_method: "append" }

    .row
      .col-xs-12.col-sm-6.col-sm-offset-6
        .form-group
          = submit_tag "Submit", class: "btn btn-primary"
          = link_to "Cancel", @recipe.persisted? ? @recipe : recipes_url, class: "btn btn-default"
