!!! 5
%html
  %head
    %title
      Recipe Book
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

  %body{ "ng-app" => "RecipebookApp" }
    .container
      = render "shared/primary_navbar"

      = yield
