!!! 5
%html
  %head
    %title
      Recipe Book
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

  %body{ ng_app: "RecipebookApp" }
    .container
      = render "shared/primary_navbar"

      = yield
